<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EduFlex</a>
    <a href="#" class="nav-link text-decoration-none">Courses</a>
    <div class="d-flex flex-row navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link text-decoration-none" href="#">Signout</a>
      </li>
    </div>
  </div>
</nav>
