<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Course</title>
</head>
<body>
    <div>
    <form action="/courses" method="post">
        <label for="CourseName">CourseName</label>
        <input id="CourseName" type="text" name="CourseName" placeholder="Add CourseName here">
        <button>Add</button>
    </form>
    </div>
</body>
</html>