<%layout("./layouts/boilerplate.ejs")-%>
<div>
  <form action="/courses/<%=CourseId%>/chapters" method="post">
    <div>
      <label for="ChapterName">ChapterName</label>
      <input id="ChapterName" type="text" name="ChapterName" />
    </div>
    <div>
      <label for="Description">Description</label>
      <Textarea id="Description" name="Description"></Textarea>
    </div>
    <button>Add chapter</button>
  </form>
</div>
