<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Chapter</title>
</head>
<body>
    <div>
        <form action="/courses/<%=CourseId%>/chapters" method="post">
            <div>
                <label for="ChapterName">ChapterName</label>
                <input id="ChapterName" type="text" name="ChapterName">
            </div>
            <div>
                <label for="Description">Description</label>
                <Textarea id="Description" name="Description"></Textarea>
            </div>
            <button>Add chapter</button>
        </form>
    </div>
</body>
</html>