<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Page</title>
</head>
<body>
  <h4><%=course.CourseName%></h4>
  <br>
  <h5><%=chapter.ChapterName%></h5>
  <hr>
    <div>
        <form action="/courses/<%=course.id%>/chapters/<%=chapter.id%>/Pages" method="post">
            <div>
                <label for="PageName">Give Title to Page</label>
                <input type="text" name="PageName" placeholder="Enter Page Title">
            </div>
            <div>
                <label for="Content">Content</label>
                <br>
                <textArea rows="30" cols="150" name="Content"></textArea>
            </div>
            <button>Add Page</button>
        </form>
    </div>
</body>
</html>