<%layout("./layouts/boilerplate.ejs")-%>
<h1>User Profile</h1>

<p>Welcome, [Username]!</p>

<form class="form" action="/" method="post">
  <label for="currentPassword" class="form-label">Current Password:</label>
  <input type="password" id="currentPassword" class="form-control" required />

  <label for="newPassword" class="form-label">New Password:</label>
  <input type="newPassword" id="newPassword" class="form-control" required />

  <button class="btn btn-info">Change Password</button>
</form>
