<%layout("./layouts/boilerplate.ejs")-%>
<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form
          class="bg-white p-4 rounded shadow w-60"
          action="/session"
          method="post"
        >
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <h2 class="text-center mb-4">Login</h2>

          <div class="form-group mb-2">
            <label for="username" class="fw-medium mb-1">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="userName"
              required
            />
          </div>
          <div class="form-group mb-2">
            <label for="password" class="fw-medium mb-1">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="Password"
              required
            />
          </div>
          <div class="mt-4 justify-content-center text-center">
            <button class="btn btn-primary btn-block">Login</button>
          </div>
          <div class="mt-4 pl-2 text-center">
            <h6 class="pl-2">
              Don't have an Account ?
              <a href="/signup" class="text-decoration-none">Signup</a>
            </h6>
            <h6>
              Forgot your password?
              <a href="/resetpassword" class="text-decoration-none"
                >Reset here</a
              >
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
