<%layout("./layouts/boilerplate.ejs")-%>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h6 class="py-4 text-xl mb-1 border-bottom">Reset your Password</h6>

      <form action="/setpassword" method="post" autocomplete="on">
        <!-- CSRF Token -->
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div class="form-group py-3">
          <label for="email">Existing Email:</label>
          <input type="email" name="email" id="email" class="form-control" />
        </div>

        <div class="form-group py-3">
          <label for="password">New Password:</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
          />
        </div>

        <div class="form-group py-3">
          <button type="submit" class="btn btn-success">Set Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
