<%layout("./layouts/boilerplate.ejs")-%>
<body class="bg-light">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <form class="bg-white p-4 rounded shadow" action="/users" method="post">
          <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
          <h2 class="text-center mb-4">Let's get Started!</h2>

          <div class="form-group mb-2">
            <label for="username" class="fw-medium">Username:</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="userName"
              required
            />
          </div>

          <div class="form-group mb-2">
            <label for="role" class="fw-medium">Role:</label>
            <select class="form-select" id="role" name="role" required>
              <option value="Student">Student</option>
              <option value="Teacher">Teacher</option>
            </select>
          </div>

          <div class="form-group mb-2">
            <label for="email" class="fw-medium">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="Email"
              required
            />
          </div>

          <div class="form-group mb-2">
            <label for="password" class="fw-medium">Password:</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="Password"
              required
            />
          </div>
          <div class="mb-2 justify-content-center text-center">
            <button class="btn btn-primary btn-block">Sign Up</button>
          </div>
          <div class="mt-2 pl-2">
            <h6 class="pl-2">
              Already have an Account?
              <a href="/login" class="text-decoration-none">login</a>
            </h6>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
